@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: url(/images/Background.svg) no-repeat center/cover;
}

main {
  
    background: url(images/Background.png) no-repeat center/cover;
    background-color: #202020;
    width: 370px;
    position: relative;
    border-radius: 1rem;
   

    
    
}
.faixa_do_cracha {
  background: url(/images/faixa.svg);
  display: block;
  position: fixed;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
   margin-top: -110px;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  
  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
  

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
 
}

ul img {
  border-radius: 12px;
  transition: .4s;
}

ul img:hover {
  margin-top: -10px;
}

#userLogin:hover {
  color: aliceblue;
}

.selo-rocketseat {
  animation: rotacao 15s infinite linear;
}

@keyframes rotacao {

  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }


}

@media (max-width:1265px) {
  main {
    background: url(/images/Background.svg) no-repeat/center;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}